.counter {
    border: 1px solid darkblue;
    padding: 30px;
    width: 400px;
    left: 0;
    right: 0;
    margin: 30px auto;
    font-size: calc(10px + 5vmin);
    position: relative;
}

.counter span.value {
    margin-left: 10px;
}