.step {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    left: 20;
    justify-content: center;
}

label {
    font-weight: 500;
    color: blue;
    margin: 20px 0 10px 10px;
    padding: 10px;
}

input {
    
    
    margin: 50px 10px 100px 10px;
    padding: 10px;
    height: 80%;
}
